.button-blue {
    display: inline-flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 150ms linear;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-weight: 600;
    font-family: Poppins;
    text-transform: uppercase;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 0px 4px 5px rgba(255,255,255, 0.25);
    background: #0C7EC3;
  }
  .button-blue:hover {
    transition: all 150ms linear;
    opacity: .85;
  }
  .button-blue:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  .button-blue a {
    color: white;
  }