@media (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
    }
}
@media (min-width: 788px){
    .startupscontainer {
        display: flex;
        padding: 3em 0 0;
    }
}
@media (min-width: 650px){
    .row {
        display: flex
    }
}
.corporatescontainer {
    padding: 3em 0 0;
    max-width: 75%;
    margin: auto;
}
@media (max-width: 1000px) {
    .corporatescontainer {
        max-width: 95%;
    }
}
.shadow {
    box-shadow: 0px 10px 23px 0px rgba(214,214,214,1);
}
.maxwcorporates {
    max-width: 20em;
}
.maxwstartups {
    max-width: 17em;
}
.hover {
    background-color: #f7f7f7;
    margin-bottom: 3em;
}

.hover, hr, span {
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.buttonfactory {
    padding: 1em;
}

.hover:hover hr {
    max-width: 20rem;
}
.hover:hover .buttonfactory {
    transform: translate(0, -1px);
    background-color: #0C7EC3;
    color: white;
    border-radius: 4px;
}