.line::before {
content: "";
position: absolute;
left: 50%;
margin-top: -5em;
height: 200px;
width: 1px;
background-color: #edecea;
}
@media (max-width: 1050px) {
  .line::before {
    margin-top: -1em;
    height: 125px
  }
}
@media (max-width: 700px) {
  .line::before {
    margin-top: 0;
    height: 100px
  }
}
.backgroundpartners {
    background-color: rgba(247,247,247,0.5);
    padding: 6rem 0;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    margin: 7em auto 5em;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
@media only screen and (max-width: 750px) {
    .cardwrapper {
        display: flex-wrap;
        margin: 0 auto;
        width: 77%;
        justify-content: space-between;
    }
    .logocontainer {
        display: flex;
        flex-direction: column;
        margin: 5em auto;
        
    }
    @keyframes FadeInRight {
        0% {
          
          transform:translateX(0px);
          opacity: 0;
        }
      
        100% {
            transform:translateX(4rem);
          opacity: 1;
        }
      }
      @keyframes FadeInLeft {
        0% {
          
          transform:translateX(0px);
          opacity: 0;
        }
      
        100% {
            transform:translateX(4rem);
          opacity: 1;
        }
      }
      .fadeintextrighttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 21.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: .5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextrightbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 23.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 1.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextlefttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 25.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 2s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextleftbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 27.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 2.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
}
@media only screen and (min-width: 750px) {
    .cardwrapper {
        display: flex;
        margin: 0 auto;
        width: 95%;
        justify-content: space-between;
    }
    .logocontainer {
        display: flex;
        flex-direction: column;
        margin: 5em auto;
       
    }
    @keyframes FadeInRight {
        0% {
          
          transform:translateX(30em);
          opacity: 0;
        }
      
        100% {
            transform:translateX(26em);
          opacity: 1;
        }
      }
      @keyframes FadeInLeft {
        0% {
          
          transform:translateX(1em);
          opacity: 0;
        }
      
        100% {
            transform:translateX(8em);
          opacity: 1;
        }
      }
    
      .fadeintextrighttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 2s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextrightbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 17.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 2.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextlefttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: .5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextleftbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 17.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 1.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }    
}
@media only screen and (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
    }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border-width: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  margin: 0 6px 1em;
  outline: 0;
  padding: 50px 10px 40px;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: .2s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 0, rgba(0, 0, 0, 0.12) 0 8px 16px 0;
    background-color: #f6f7f9;
}

.svgicons {
    height: 100px;
    margin-bottom: 2em;
}
.iconsdescription {
    max-width: 700px;
}
.logoheight {
    height: 8em;
}
  .headingcolorshadow {
    color: #00486C;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
  @keyframes move {
    from {
    }
  
    to {
        transform: translateY(25px)
    }
  }
  
  