@media (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
        margin-bottom: 4em;
    }
}
.containerinvestors {
    text-align: center;
}
.investorparagraph {
    max-width: 30em;
    margin: 2em auto;
}
.background {
    background-color: #E6E6EA;
}
.pitchcard {
    background-color: #F8F8F8;
    box-shadow: 0 4px 5px rgba(0,0,0,.09);
    padding: 1em;
    border-radius: 1em;
}
@media (max-width:550px) {
    .mobilepadding {
        padding-bottom: 5em;
    }
}
.hexagon {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #ffffff;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.6447px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
  }
  
  .hexagon:before {
    top: -35.3553px;
  }
  
  .hexagon:after {
    bottom: -35.3553px;
  }
  
  /*cover up extra shadows*/
  .hexagon span {
    display: flex;
    justify-content: center;
    position: absolute;
    top:0px;
    left: 0;
    width:100px;
    height:57.7350px;
    z-index: 2;
    background: inherit;
  }
  @media only screen and (min-width: 950px) {
    .containertitleabout {
        margin-left: 30%;
    }
    .tabrow {
        display: flex;
}
    .tabrow2 {
        display: flex;
    }
}
@media only screen and (max-width: 950px) {
    .containertitleabout {
        margin-left: 0%;
}
    .tabrow {
        display: flex;
        flex-direction: column;
}
}
@media only screen and (max-width: 550px) {
    .containertitle {
        padding-bottom: 3em;
    }
    .fixerclass {
        padding: 7em 0;
    }
}
@media only screen and (min-width:550px) {
    .fixerclass {
        padding: 4em 0;
    }
}