header:after, #timelinebg .timelinebg-item:after, header:before, #timelinebg .timelinebg-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

#timelinebg {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timelinebg:before {
  content: "";
  width: 3px;
  height: 92%;
  background: whitesmoke;
  left: 50%;
  top: 0;
  position: absolute;
}
#timelinebg:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timelinebg .timelinebg-item {
  margin-bottom: 50px;
  position: relative;
}
#timelinebg .timelinebg-item .timelinebg-icon {
  background: white;
    /* border: 18px double; */
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #timeline .timeline-item .timeline-icon img {
  position: relative;
  top: 14px;
  left: 14px;
} */
#timelinebg .timelinebg-item .timelinebg-content {
  width: 45%;
  transition: all 0.3s ease;
  display: flex;
    flex-direction: column;
    text-align: center;
}
/* #timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #00496f;
} */
#timelinebg .timelinebg-item .timelinebg-content.right {
  float: right;
}
/* #timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #00496f;
} */
.timelinebg-content img {
    margin-bottom: 1.45em;
}
@media screen and (max-width: 768px) {
  #timelinebg {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timelinebg:before {
    left: 0;
  }
  #timelinebg .timelinebg-item .timelinebg-content {
    width: 90%;
    float: right;
  }
  /* #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #00496f;
  } */
  #timelinebg .timelinebg-item .timelinebg-icon {
    left: 0;
  }
}
