  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1000px;
    position: relative;
    z-index: 0;
    margin-top: 15vh;
  }
  
  input {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 72, 108);
    position: relative;
    border-radius: 50%;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  input:focus {
    outline: none;
  }
  input::before, input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 72, 108);
    width: 4vw;
    height: 5px;
    max-width: 50px;
  }
  input::before {
    left: calc(-4vw + 12.5px);
  }
  input::after {
    right: calc(-4vw - .5px);
  }
  input:checked {
    background-color: rgb(0, 72, 108);
  }
  input:checked::before {
    background-color: rgb(0, 72, 108);
  }
  input:checked::after {
    background-color: #AEB6BF;
  }
  input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
    background-color: #AEB6BF;
  }
  input:checked + .dot-info span {
    font-size: .9em;
    font-weight: bold;
  }
  
  .dot-info {
    width: 25px;
    height: 25px;
    display: block;
    visibility: hidden;
    position: relative;
    z-index: -1;
    left: calc((((80vw - 25px) / 20) * -1) - 1px);
  }
  .dot-info span {
    visibility: visible;
    position: absolute;
    font-size: 1em;
  }
  .dot-info span.year {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dot-info span.label {
    top: -75px;
    left: 0;
    transform: rotateZ(-45deg);
    width: 100px;
    text-indent: -10px;
    font-weight: bold;
  }
  
  #timeline-descriptions-wrapper {
    width: 100%;
    margin: 4em;
    font-size: 22px;
    font-weight: 400;
  }
  #timeline-descriptions-wrapper div {
    margin-top: 0;
    display: none;
  }
  
  input[data-description="1910"]:checked ~ #timeline-descriptions-wrapper div[data-description="1910"] {
    display: block;
  }
  
  input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper div[data-description="1920"] {
    display: block;
  }
  
  input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper div[data-description="1930"] {
    display: block;
  }
  
  input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper div[data-description="1940"] {
    display: block;
  }
  
  input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper div[data-description="1950"] {
    display: block;
  }
  
  input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper div[data-description="1960"] {
    display: block;
  }
  
  input[data-description="1970"]:checked ~ #timeline-descriptions-wrapper div[data-description="1970"] {
    display: block;
  }
  
  input[data-description="1980"]:checked ~ #timeline-descriptions-wrapper div[data-description="1980"] {
    display: block;
  }
  
  input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper div[data-description="1990"] {
    display: block;
  }
  
  input[data-description="2000"]:checked ~ #timeline-descriptions-wrapper div[data-description="2000"] {
    display: block;
  }
  
  @media (min-width: 1250px) {
    
  
    input::before {
      left: -37.5px;
    }
    input::after {
      right: -51.5px;
    }
  
    .dot-info {
      left: calc((((1000px - 25px) / 20) * -1) - 1px);
    }
  
  }
  @media (max-width: 630px) {
    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 400px;
      height: auto;
      margin-left: 0;
      margin-top: 0;
    }
  
    input, .dot-info {
      width: 60px;
      height: 60px;
      margin: 0 20px 50px;
    }
  
    input {
      background-color: transparent !important;
      z-index: 1;
    }
    input::before, input::after {
      content: none;
    }
    input:checked + .dot-info {
      background-color: rgb(0, 72, 108);
    }
    input:checked + .dot-info span.year {
      font-size: 14px;
    }
    input:checked + .dot-info span.label {
      font-size: .9em;
    }
  
    .dot-info {
      visibility: visible;
      border-radius: 50%;
      z-index: 0;
      left: 0;
      margin-left: -70px;
      background-color: #AEB6BF;
    }
    .dot-info span.label {
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      text-indent: 0;
      text-align: center;
    }
  
    #timeline-descriptions-wrapper {
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    .input-flex-container {
      width: 95%;
    }
  }
  @media (max-width: 400px) {
    .input-flex-container {
      width: 95%;
    }
  }
  