header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .iconleft {
    display: flex;
    justify-content: center;
    background: #F8F8F8;
    padding: 1.5em;
    box-shadow: 0 4px 5px rgba(0,0,0,0.09);
  }
  .iconright{
    display: flex;
    justify-content: center;
    background: #F8F8F8;
    padding: 1.5em;
    box-shadow: 0 4px 5px rgba(0,0,0,0.09);
  }
  #timeline {
    width: 100%;
    margin: 5em auto;
    position: relative;
    padding: 0 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #timeline:before {
    content: "";
    width: 3px;
    height: 87%;
    background: whitesmoke;
    left: 50%;
    top: 0;
    position: absolute;
  }
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
  #timeline .timeline-item {
    position: relative;
  }
  #timeline .timeline-item .timeline-icon {
    background: whitesmoke;
    border: 18px double white;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -17px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* #timeline .timeline-item .timeline-icon img {
    position: relative;
    top: 14px;
    left: 14px;
  } */
  #timeline .timeline-item .timeline-content {
    width: 45%;
    /* background: #fff;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
      flex-direction: column;
      text-align: center; */
  }
  /* #timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #00496f;
  } */
  #timeline .timeline-item .timeline-content.right {
    float: right;
  }
  /* #timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #00496f;
  } */
 /*  .timeline-content img {
      margin-bottom: 1.45em;
  } */
  @media screen and (max-width: 768px) {
    #timeline {
      margin: 30px;
      padding: 0px;
      width: 90%;
    }
    #timeline:before {
      left: 0;
    }
    #timeline .timeline-item .timeline-content {
      width: 90%;
      float: right;
    }
    /* #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
      left: 10%;
      margin-left: -6px;
      border-left: 0;
      border-right: 7px solid #00496f;
    } */
    #timeline .timeline-item .timeline-icon {
      left: 0;
    }
  }
  