details {
    background: white;
    border-radius: 2px;
    border-top: 2px solid #00486C;
    box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, 0.34),
       0 0 3rem 0 rgba(0, 0, 0, 0.015) inset;
    display: block;
   
    overflow: hidden;
 }
 @media only screen and (max-width: 820px) {
    details {
        margin: -3px 0 2rem 0;
    }
}
 @media only screen and (min-width: 820px) {
     details {
        margin: -3px 3rem 2rem;
     }
 }
 details > .wrapper {
    margin: 0;
    max-height: 0;
    padding: 0;
    visibility: hidden;
 }
 details > .wrapper > *:first-child {
    margin-top: 0;
    padding-top: 0;
 }
 details > .wrapper > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
 }
 
 details[open] > .wrapper {
    box-shadow: 0 0.8125rem 0.8125rem -0.8125rem rgba(0, 0, 0, 0.34) inset;
    max-height: 100%;
    padding: 1.625rem;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.05);
 }
 
 summary {
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: auto;
    margin: 0;
    outline: 0; 
    padding: 1.625rem;
    position: relative;
 }
 .wrapper p {
    line-height: 1.5em;
 }
 