.box {
    display: flex;
    background: rgba(0, 72, 108, 0.05);
    border-radius: 2rem;
    max-width: 52.5rem;
    padding: 2rem 2rem;
    margin: auto;
}
.boxTitle {
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    cursor: pointer;
    background: rgba(0, 72, 108, 0.5);
    justify-content: center;
    box-shadow: 0px 0.5rem 0.5rem #e6e6e6;
    transition: box-shadow 0.2s ease-in;
}
.boxTitle:hover {
    background: rgba(0, 72, 108, 1);
    box-shadow: 0 0.2rem 0.2rem #e6e6e6;
}
.boxTitle:hover .segmentation {
    color: white
}

@media (min-width: 700px) {
.boxUnits {
    width: 25%;
    padding: 0 1em;
}
.box {
    flex-direction: row;
}
.boxTitle {
    padding: 2rem 1rem;
}
}
@media (max-width: 700px) {
    .boxUnits {
        width: 100%;
        padding: 2em 1em;
    }
    .box {
        flex-direction: column;
    }
    .boxTitle {
        padding: 4rem 2rem;
    }
}

.segmentation {
    line-height: 1.5em;
    text-align: center;
    /* font-size: 1.3em; */
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 300;
}
.textareainput {
    background-color: #fefefe;
    border-radius: .5rem;
    border-width: 0;
    box-shadow: rgba(50,50,50,.15) 0 2px 10px;
    color: #0a0a0a;
    display: block;
    font-size: 1.15rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    min-height: 300px;
    overflow: auto;
    padding: 1.5rem;
    resize: none;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    width: 100%;
  }