.dnamain > div {
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-height: 800px;
    will-change: transform, opacity;
    background-color: #00486C;
}

@media only screen and  (max-width: 480px){
    .paddingdna {
        padding: 0em 1em 0em;
    }
}
@media only screen and (min-width: 550px) {
    .paddingdna {
        padding: 1em 1em 0em;
    }
}

@media only screen and  (max-width: 30em) {
    .dna{
        height: 650px;
        margin-bottom: 7em;
    }
    
}
@media only screen and  (min-width: 30em) and (max-width: 45em) {
    .dna {
        height: 350px
    }
}
@media only screen and  (min-width: 45em) and (max-width: 60em) {
    .dna {
        height: 400px
    }
}
@media only screen and  (min-width: 60em) and (max-width: 75em) {
    .dna {
        height: 450px
    }
}
@media only screen and  (min-width: 75em) {
    .dna {
        height: 600px
    }
}
